*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite  linear;
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    }
.jump{
    animation: jump 500ms ease-out;
}
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear
}

footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
}

.reload {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.reload:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.reload:active {
	position:relative;
	top:1px;
}
@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from{
        right: -550px;

    }
    to {
        right: 100px;
    }
}